.datos__container{
    background-color: rgba(255, 255, 255, 0.452);
    
    backdrop-filter: blur(1px);
    border: solid 1px rgba(248, 248, 248, 0.178);
    border-radius: 10px;

    width: 50%;
    margin: 0 auto;
    padding: 15px;

    box-shadow: 0px 10px 20px 5px rgba(110, 110, 110, 0.3);
    
    // tapa tocas la capas hijas 
    overflow: hidden;
    transition:all .9s ease;

    @media screen and (max-width: 1300px) {
        width: 70%;
    }

    @media screen and (max-width: 750px) {
        width: 80%;
    }
}

.datos__title-h2{
    font: bold 24px/29px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 26px;
}

.datos__fieldset{
    margin: 0 0 12px;
    border: 0;
    line-height: 1;
    padding: 0;
}
.datos__label{
    display: block;
    font: bold 15px/24px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 14px 0 4px;
    color: #0d0c22;
}
.datos__input {
    border: 1px solid transparent;
    background: #f3f3f4e5;
    color: #0d0c22;
    font-size: 14px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 16px;
    outline: none;
    border-radius: 8px;
    width: 80%;
    transition:all .3s ease;
    
    &:hover {
        background-color: #FFF;
        border-color: rgba(61, 36, 36, 0.4);
        box-shadow: 0 0 0 4px rgb(61 36 36 / 10%);
    }
}

.datos__cambiar-plan{
    text-decoration-line: underline; 
    color:#252525c5;
    cursor: pointer;
}
.datos__select-plans{
    padding: 30px 75px;

    @media screen and (max-width: 1600px) {
        padding: 30px 50px;
    }

    @media screen and (max-width: 750px) {
        padding: 30px;
    }

    @media screen and (max-width: 650px) {
        padding: 30px 10px;
    }
}

.datos__cambiar{
    text-align: center;
    font-weight: bold;
}

.datos__modal {
    // display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2e3f5f86;

    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: datos__modal;
    animation-duration: 1s;
}
@keyframes datos__modal {
    from{top:330px; opacity:0}
    to{top:0; opacity: 1;}
}