
.suscription__container_title {
    text-align: center; 
    padding-top: calc(100% - 95%);

    h1{
        color: #fcfcfc;
        font-weight: bold;
        margin: 10px;

        span {
            color: #131313;
            font-weight: 100;
            font-size: 20px;
        }
    }

    p{
        color: #6D757D;
    }

    @media screen and (max-width: 1300px) {
        padding-top: calc(100% - 89%);
    }

    @media screen and (max-width: 750px) {
        padding-top: calc(100% - 75%);
    }
}

.suscription__plans {
    display: flex;
    margin: 0 20%;
    padding-top: calc(100% - 95%);

    

    @media screen and (max-width: 750px) {
        margin: 0;
    }
    @media screen and (max-width: 650px) {
        overflow-x: auto;
    }
}
// .suscription__plans::-webkit-scrollbar {
//     width: 0;
// }