*{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    width: 100%;
}

.ul {
    list-style: none;
    padding-left: 10px;
}

.li:before {
    content: '✓ ';
}

.background__body {
    background-image: url(../../assets/img/fondo_web.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.filter{
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(107, 107, 107, 0.384);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    margin: 25px 0 20px 0;
    color: #FCFCFC;
    background: #575757;
    border: 0;
    padding: 11px 45px;
    border-radius: 15px;
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover {
        background: #383838;
        box-shadow: 0 5px 10px 2px rgba(61, 61, 61, 0.315);
    }
}
.hr {
    border: 1pt solid #6b6b6b62;
    margin: 15px 0;
}
//*//
.mt-1 {
    margin-top: 5px;
}

.mt-5 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-5 {
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}